body {
  font-family:'Sourse Sans Pro', sans-serif;
  background: #7db3ff;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  flex: 1;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
  background-color: #f6fcff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 1.2em;
  margin-top: 1.5em;
  padding-top: 1.3em;
}
h4 {
  margin-top: 0px;
}

.burger-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  z-index: 8;
  left: 5px;
  top: 5px;
  color: white;
  font-size: 23px;
}
/* HEADER-MENU */
  #menu {
    position: fixed;
    background: rgba(5, 111, 255, 0.9);
    z-index: 7;
    top: 0;
    left: -25vw;
    bottom: 0;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
  }
  #menu.is-active {
    left: 0;
  }
    #menu ol {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      height: inherit;
    }
      #menu ol li {
        height: inherit;
      }
        #menu a {
          color: #fff;
          text-decoration: none;
          height: inherit;
          display: flex;
          align-items: center;
          padding: 0 10px;
          font-size: 1.75em;
          text-decoration: underline;
          margin: 3em 0;
        }



/* HERO */
.hero {
  height: 340px;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  .caja-Imagenes {
    background: transparent;
    width: 720px;
    height: 98%;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
    .imagenes {
      position: relative;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0%;
      transition: 1s;
    }
    .hero-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      display: block;
      flex-wrap: nowrap;
      top: 0;
      margin: 0;
    }
    #hero1 {
      left: -110%;
    }
    #hero3 {
      left: 110%;
    }
    .izquierda {
      left: -110%;
    }
    .derecha {
      left: 110%;
    }

  .hero-text {
    position: absolute;
    text-align: center;
    top: 0;
    color: #fff;
    z-index: 2;
  }
  .hero-text-p {
    margin-top: 5px;
  }
    .hero-text small {
      font-size: 1.1em;
      font-family: 'Oswald', sans-serif;
      text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.4);
      margin: 0;
    }
    h1 {
      line-height: 50px;
      font-size: 3.5em;
      letter-spacing: 2px;
      color: #fff;
      margin: 0;
      margin-bottom: 167px;
      text-shadow: 5px 4px 0 rgba(0, 0, 0, 0.59);
      font-family: 'Girassol', cursive;
    }
  .hero-text h3 {
    text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.4);
    margin: 0;
    line-height: 1.5em;
    width: 720px;
    background: #0000004d;
  }
  .radio-contain {
    position: absolute;
    top: 300px;
    box-sizing: border-box;
  }
  .radio {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-left: 20px;
    cursor: pointer;
  }
  .radio + .radio {
    margin-left: 16px;
  }
  .radio input[type="radio"] {
    display: none;
  }
  .radio span {
    width: 17px;
    height: 17px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  .radio span::after {
    content: "";
    height: 11px;
    width: 11px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: .3s ease-in-out 0s;
  }
  .radio input[type="radio"]:checked ~ span::after {
    transform: translate(-50%, -50%) scale(1);
  }


/* CURSOS DE REFORZAMIENTO */
  .cursos_container {
    display: flex;
    flex-wrap: wrap;
  } 
    .curso {
      margin: 1%;
      width: 48%;
      border-radius: 10px;
      overflow: hidden;
      flex-shrink: 0;
      background: inherit;
    }
      .curso_image_Container {
        margin: 0px;
      }
        .curso img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

      .curso_details {
        margin: 20px 40px;
        background: #fff;
        margin-top: -40px;
        position: relative;
        padding: 20px;
        text-align: center;
        border: 1px solid #056fffbd;
        border-radius: 11px;
      }
        .curso_description {
          text-align: left;
        }
        .curso_url {
          background: #fff;
          border: 1px solid;
          color: #056fff;
          padding: 6px 38px;
          border-radius: 5px;
          font-size: 1em;
          z-index: 4;
        }
        .curso_url:hover {
          background: #bfcfd331;
          color: #0060e6;
          z-index: 4;
        }
    .pantalla-negra {
      height: 100vh;
      width: 100vw;
      flex-shrink: 0;
      background-color: #00000061;
      position: fixed;
      z-index: 3;
      top: 0;
      display: block;
      left: 0;
    }
    .contenedor_table {
      background: transparent;
      text-align: center;
      width: 100%;
      height: auto;
      top: 30vh;
      z-index: 5;
      left: 0;
      position: fixed;
    }
    .cerrar {
      background: #000;
      color: #fff;
      padding: 6px;
      border-radius: 10px;
      top: -14px;
      left: 147px;
      position: relative;
      font-size: 16px;
    }
    .cerrar:hover {
      background: rgba(255, 0, 0, 0.849);
    }
    .costo_table {

      height: 150px;
      width: 280px;
      background: #ebebebe3;
      border: 5px solid #000000;
      padding: 16px;
      border-radius: 18px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    .invisible_t {
      display: none;
    }

/* PLANA DOCENTE */
.docentes {
  background: inherit;
}
  .profesores_container {
    display: flex;
    flex-wrap: wrap;
  }
    .profesor {
      border: 1px solid gray;
      border-radius: 10px;
      margin-bottom: 15px;
      margin: 10px;
      padding: 18px;
      background: #fff;
      box-sizing: content-box;
      width: auto;
      height: auto;
      display: flex;
      box-shadow: inset -4px -1px 11px 1px #9195993d;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }    
      .profe_image_Container {
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 9px 1px 17px 2px #7db3ff69;
      }
        .profe_image {
          object-fit: cover;
          top: 0;
          border-radius: 50%;
        }
      .profesor_details {
        width: 48%;
        margin: 0 auto;

      }
        .profe_title {
          font-size: 27px;
          margin: 0;
          margin-bottom: 10px;
          text-align: center;
        }
        .profe_curso {
          margin: 10px 0;
        }
        .profe_url {
          margin: 10px 0;
        }
        .profesor_mensaje {
          font-size: 16px;
          font-family: -webkit-body;
        }
          .profesor strong {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.1em;
            }



/* CONTACTO */
.contact {
  background-color: inherit;
  height: auto;
  color: #000;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1em;
}
  .contact_contenido {
    display: flex;
    justify-content: space-around;
    padding: .5em 2.5em;
  }
    .telefono {
      text-align: center;
    }
      .director_image {
        width: 130px;
        height: 130px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 4px;
        border: 1px solid #1b2127;
      }
    .ubicacion {
      text-align: center;
    }
      .map {
        width: 298px;
        height: 125px;
      }


/* FOOTER */
.footer {
  color: #fff;
  display: flex;
  text-align: center;
  background: #1b2127;
  justify-content: center;
  padding: 5px 10px;
  flex-wrap: wrap;
}  
  .footer p {
    margin: 8px;
  }
  .footer a {
    color: #026fff;
    text-decoration: none;
    cursor: pointer;
  }



/* MEDIA QUERIES */
@media screen and (max-width: 1023px) {
  #menu {
    left: -40vw;
    width: 40vw;
  }
  .hero {
    height: 300px;
    padding: 0;
  }
      h1 {
        font-size: 59px;
        margin-bottom: 63px;
      }
      h2 {
        margin-top: 20px;
        font-size: 23px;
      }
    .radio-contain {
      top: 260px;
  }
  .cursos_container {
    padding: .5em;
  }
    .curso_url {
      font-size: .95em;
    }
  .profesores_container {
    padding: 1.2em;
  }
    .profe_image_Container {
      width: 225px;
      height: 225px;
    }
    .profe_title {
      font-size: 23px;
    }
  .contact {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {

  .burger-button {
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  #menu {
    left: -48vw;
    width: 48vw;
  }
    #menu a {
      font-size: 1.5em;
      margin: 3.2em 0;
    }
  .hero {
    margin: .75em 0;
  }
    .caja-Imagenes {
      width: 100%;
    }
    .radio-contain {
      top: 265px;
    }
    h1 {
      margin-bottom: 65px;
    }
    .hero-text-p {
      margin-top: 17px;
    }
      h2 {
        margin: 0;
        margin-left: 1.5em;
      }
    .hero-text h3 {
      width: auto;
    }
    .cursos_container {
      flex-wrap: wrap;
      width: auto;
      display: flex;
      padding: 1em 2em;
      margin-bottom: 1em;
    }
      .curso {
        display: block;
        width: 98%;
      }
      .costo_table {
        width: 250px;
        height: 140px;
      }
        .costo_titulo {
          margin-top: 0;
        }
        .cerrar {
          top: -15px;
          left: 132px;
        }
    .profe_image_Container {
        width: 200px;
        height: 200px;
      }
      .profe_title {
        font-size: 1em;
      }
      .profe_image {
        float: left;
        width: 215px;
        height: 215px;
      }
  .contact {
    margin-top: 1em;
  }
  .contact_contenido {
    margin-top: .8em;
  }
      .map {
        width: 275px;
      }
      .direccion {
        font-size: 14px;
      }
}
@media screen and (max-width: 639px) {
  #menu {
    left: -65vw;
    width: 65vw;
  }
    #menu a {
      font-size: 1.35em;
      margin: 3.1em 0;
    }
.hero {
  height: 282px;
}
  .radio-contain {
    top: 132px;
    z-index: 3;
  }
    .radio span {
      width: 15px;
      height: 15px;
    }
    .radio span::after {
      width: 9px;
      height: 9px;
    }
    .hero-text-p {
      margin-top: 17px;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 143px;
  }
  .hero-text h3 {
    font-size: 18.5px;
  }
  h2 {
    font-size: 1.4em;
  }
  .costo_table {
    width: 220px;
    height: 125px;
    font-size: 15.5px;
    border: 4.5px solid #000;
  }
    .costo_titulo {
      margin-top: -3px;
    }
    .cerrar {
      left: 118px;
      top: -16px;
      font-size: 14px;
    }
  .profesor {
    display: block;
  }
    .profe_image_Container {
      width: 225px;
      height: 225px;
      margin-bottom: 1.5em;
    }
    .profesor_details {
      width: 80%;
      margin: 0 10%;
    }
      .profe_title {
        font-size: 1.5em;
      }
      .profe_image {
        width: 225px;
        height: 225px;
      }
  .contact_contenido {
    display: block;
    justify-content: center;
  }
    .telefono {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: auto;
    }
      .director_image {
        margin-right: 1em;
        margin-bottom: 1.5em;
      }
    .ubicacion {
      width: 80%;
      margin: auto;
    }
    #telef {
      margin-top: 52px;
    }
      .map {
        width: 340px;
        height: 150px;
      }
  .footer {
    font-size: 15px;
    padding: 3px 10px;
  }
}
@media screen and (max-width: 479px) {
  .burger-button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  #menu {
    left: -100vw;
    width: 100vw;
  }
    #menu a {
      font-size: 1.4em;
      margin: 3.1em 0;
    }
  .hero {
    margin: 0;
    height: 250px;
    margin-bottom: .5em;
  }
    .caja-Imagenes {
      width: 100%;
    }
      .imagenes {
        left: 4%
      }
      .izquierda {
        left: -106%
      }
      .derecha {
        left: 114%
      }
      .hero-image {
        width: 92%
      }
    .radio-contain {
      top: 217px;
    }
      .radio span {
        width: 14px;
        height: 14px;
      }
      .radio span::after {
        width: 8.5px;
        height: 8.5px;
      }
      .hero-text-p {
        margin-top: 5px;
    }
      h1 {
        font-size: 42px;
        margin-bottom: 114px;
        line-height: 40px;
      }
      h2 {
        font-size: 1.2em;
      }
      .hero-text h3 {
        font-size: 14px;
      }
      .hero-text small {
        font-size: .9em;
      }
  .cursos_container {
    padding: .5em .9em;
  }
    .curso_details {
      padding: 16px;
      border-radius: 10px;
      margin: 20px 30px;
      margin-top: -60px;
    }
      h3 {
        margin: 8px 0;
        font-size: 18px;
      }
      .curso_description {
        text-align: center;
        font-size: 14px;
      }
      .curso_url {
        padding: 5px 30px;
        border-radius: 4px;
        font-size: .82em;
    }
    .costo_table {
      width: 196px;
      height: 165px;
      font-size: 15px;
      border: 4.2px solid #000;
      border-radius: 16px;
    }
    .costo_titulo {
      margin-top: 8px;
      margin-bottom: 36px;
  }
      .cerrar {
        left: 106px;
        top: -17px;
        font-size: 11.5px;
        border-radius: 7.5px;
      }
.profesores_container {
  padding-top: .4em;
}
  .profe_image_Container {
    width: 188px;
    height: 188px;
  }
    .profe_image {
      width: 188px;
      height: 188px;
    }
    .profe_title {
      font-size: 1.3em;
    }
    .profesor_mensaje {
      font-size: 14.5px;
    }
    .profesor strong {
      font-size: 1em;
    }
    .profe_url a {
      font-size: 13px;
    }
  .contact_contenido {
    padding: 1em;
  }
    .telefono {
      display: block;
      justify-content: center;
    }
    #telef {
      margin-top: 12px;
      margin-bottom: 20px;
  }
      .director_image {
        margin-bottom: 0;
        width: 130px;
        height: 130px;
        margin-right: 0;
      }
    .ubicacion {
      max-width: 320px;
      margin: auto;
    }
      .map {
        width: 100%;
        height: 130px;
      }
  .footer {
    font-size: 13px;
    padding: 3px 9px;
  }
}
@media screen and (max-width: 399px) {
  .profe_image_Container {
    width: 160px;
    height: 160px;
  }
    .profe_image {
      width: 160px;
      height: 160px;
    }
#menu a {
  font-size: 1.3em;
}
.radio-contain {
  top: 216px;
}
  .radio span {
    width: 13px;
    height: 13px;
  }
  .radio span::after {
    width: 8px;
    height: 8px;
  }
.costo_table {
  width: 208px;
    height: 155px;
    font-size: 15px;
    padding: 17px;
  border: 4px solid #000;
  border-radius: 12px;
}
.costo_titulo {
  margin-bottom: 32px;
}
  .cerrar {
    left: 112px;
    top: -16px;
    padding: 4.8px;
    font-size: 12px;
    border-radius: 5px;
  }
}